body{
    margin: 0px;
}
#navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position:fixed;
margin-bottom: 15%; */

}
#navbar>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
#logo{
    width: 10%;
}
#navbar>div:nth-child(1) input{
    width: 40%;
    border-radius: 25px;
}
#navbar>div:nth-child(2){
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
#navbar>div:nth-child(2)>div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#navbar>div:nth-child(2)>div:nth-child(3){
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#navbar>div:nth-child(2)>div:nth-child(3) button{
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#slider{
    width: 100%;
    margin: auto;
}
#slider>div:nth-child(1){
    width: 40%;
    display: flex;
    margin: auto;
}
#slider>div:nth-child(1) img{
    width: 5%;
    margin: 5px;
}
#slider>div:nth-child(1) p{
    /* width: 5%; */
    margin-top: 25px;
    margin-left:5px ;
}
#recently{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
#recently img{
    width: 80%;
}
#recently>div{
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#recently>div p{
    text-decoration: underline;
    text-decoration-color:grey ;
}
#recently>div:nth-child(3) img{
    width: 51%;
    margin: 10%;
    margin-bottom: 3.5%;
    margin-left: 22%;
}
#recently>div:nth-child(4){
    display: flex;
    flex-direction: column;
}
#recently>div:nth-child(4)>div:nth-child(1){
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2%;
    text-align: center;
}
#recently>div:nth-child(4)>div:nth-child(1) button{
    width: 60%;
    margin-bottom: 5px;
    padding: 4%;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #414467;
    color: white;
}
#recently>div:nth-child(4)>div:nth-child(2){
    padding: 3.6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#recently>div:nth-child(4)>div:nth-child(2) img{
    width: 100%;
    /* padding: 10%; */
}
#recently>div:nth-child(2) img{
width: 100%;
}
#recently>div:nth-child(1) img{
    width: 100%;
    }
#slider>div:nth-child(2){
    width: 100%;
}
#slider>div:nth-child(2) img{
    width: 100%;
}
  

#popular{
    width: 95%;
    display: flex;
    flex-direction: column;
}
#part2{
    display: flex;
}
#partners2{
    /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
    text-align: center;
    width: 100%;
    padding: 12px;
}
#partners1{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding: 25px;
}
#partners2 img{
    width: 100%;
}
#addver{
    width: 40%;
}
#addver img{
    width: 90%;
}
#partners{
    width: 60%;
}
#pop{
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: #2e2c38;
}
#s_logo{
    width: 10%;
    margin: auto;
    margin-top: 25px;
}
#s_logo img{
    width: 100%;
}
#hotdeals{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
#hotdeals>div{
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#navbar>div:nth-child(2)>div:nth-child(3) button{
border: 0px;
padding: 1.5%;
text-align: center;
}