#navbar {
    width: 100%;
    margin: auto;
    /* border: 0px solid red; */
    /* display: block; */
    background-color: #f0f1f7;
    margin-bottom: 12px;
    padding-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#top {
    width: 100%;
    margin: auto;
    border: 0px solid green;
    margin-bottom: 14px;
}

#bottom {
    width: 100%;
    margin: auto;
    border: 0px solid blue;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top img {
    width: 190px;
    margin-left: 14px;
    margin-top: 5px;
}

#signin {
    padding-right: 25px;
    width: 11%;
    display: flex;
    justify-content: space-evenly;
}

#top button {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #545871;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 700;
}

#top button:hover {
    background-color: #545871;
    color: white;
    font-size: 15px;
    /* width: 50%; */
    cursor: pointer;
    transform: scale(1.1);

}

#bottom {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

#all {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

#all a {
    text-decoration: none;
    color: black;
}

#all a:hover {
    background-color: #545871;
    color: white;
    border-radius: 10px;
    padding: 1px;
    /* font-size: 20px; */
    /* transform: scale(1.1); */
}

#cart:hover {
    cursor: pointer;
    background-color: #545871;
    color: white;
    padding: 1px;
    /* font-size: 25px; */
}

/* #cart>i:hover{
    background-color: #545871;
} */

#cart:hover #cartitems,#cart:hover #cart_span,#cart:hover #cart_i{
    background-color: #545871;
    color: white;
}

#hamburger {
    position: relative;
    display: inline-block;
    
}

#categories {
    display: none;
    position: absolute;
    /* background-color: red; */
}

#hamburger:hover #categories {
    display: block;
    background-color: #545871;
    font-size: 25px;
    font-weight: 900;
    padding: 30px;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#categories>p , #categories>p>a{
    background-color:#545871 ;
    margin-bottom: 12px;
    padding: 8px;
}

#ddn {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0px solid orangered;
}

#categories {
    background-color: #545871;
}

#hamburger p a {
    color: white;
    text-decoration: none;
}

#hamburger p a:hover {
    background-color: white;
    color: #545871;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}


/* footer css */
#footer {}

#footer_first {
    width: 100%;
    height: auto;
    background-color: #545871;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

#footer_second {}

#footer_second>p {
    margin-left: 8px;
    font-size: 14px;
    margin-top: 6px;
}

#footer_second>hr {
    color: #07809a;
}

#footer_second_logo {
    width: 70%;
    border: 0px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 12px;
}

#footer_second_logo img {
    width: 80px;
}

#ff_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feedback {
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#feedbackbtn,
#signup {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #545871;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 700;
    margin-bottom: 5px;
}

#ff_left button:hover {
    background-color: #313448;
    color: white;
    font-size: 15px;
    /* width: 50%; */
    cursor: pointer;
    transform: scale(1.1);
}

#ff_left a {
    text-decoration: none;
    color: black
}

#ff_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (min-width:320px) and (max-width:1000px) {
    #all {
        display: none;
        width: 0%;
    }

    #bottom {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        /* padding: 5px; */
        padding-bottom: 5px;
    }

    #cart {
        /* width: 30%; */
        font-size: 30px;
    }

    #ddn {
        /* width: 30%; */
        font-size: 25px;
    }

    #top img {
        width: 50%;
        margin-bottom: 10px;
        margin-top: 12px;
    }

    #top>a{
        text-align: center;
    }
    #top {
        display: flex;
        flex-direction: column;
        /* width: 50%;
         margin: auto; */
        align-items: center;
        justify-content: center;
    }
 
    #signin{
        width: 30%;
       padding-left: 42px;
    }
    #top button {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    #top button:hover {
        width: auto;
    }

    #navbar {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    #footer_second_logo {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 30px;
    }

    #footer_first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}